@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src:
    local('Montserrat'),
    url('./fonts/Montserrat.woff2') format('woff');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  src:
    local('Inter'),
    url('./fonts/Inter.woff2') format('woff');
}

@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  src:
     local('ProximaNova'),
     url('./fonts/ProximaNova.woff2') format('woff');
}
