* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: $color-black;
  font-family: $text-main;
  font-size: $text-md;
  line-height: 1;
  user-select: none;
}

input,
textarea,
button {
  color: inherit;
  font-family: inherit;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

span {
  line-height: 1;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
